.aggiungiProm {
    display: inline-flex;
    flex-direction: row;
    min-height: 3rem;
    min-width: 15rem;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-style: none;
    margin-top: 2rem;
  }

  .aggiungiProm:active{
    transition:ease-in-out;
    border-style: groove;
    border-color: #fff;
  }

  .aggiungiProm:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
    background-color: #94092E;
  }
  .aggiungiProm:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
    background-color: #d10d41;
  }

  .aggiungiProm:hover {
    color: #fff;
  }

  .aggiungiProm:hover:before {
    width: 100%;
  }

  @media screen and (min-width: 1920px){
    .aggiungiProm{
      display: flex;
      max-width: 10rem;
      margin: 0;
      margin-left: 18%;
      margin-top: 3rem;

    }
    
  }