.background{
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1000000;
}

@media screen and (max-width: 1024px) {
    .background{
    background-image: url("src\media\Sfondo_Smartphone.png");    

    }
}

@media screen and (min-width: 1440px) {
    .background{
    background-image: url("src\media\Sfondo2560x1440.png");    

    }
}