.boxProm {
    display: grid;
    grid-template-rows: 1.25fr 1fr 0.75fr;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    color: white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 8%;
}
.barraTitolo{
    color: white;
    height: 30%;
    min-width: 100%;
    background-color: #94092e;
    border-radius: 10px 10px 0px 0px;
    border-color: #94092e;
}
.tdoProm{
    font-weight: bold;
}

.descrizioneProm{
    display: flex;
    flex-direction: column;
    color: black;
    min-width: 100%;
    max-height: min-content;

}

.paragDescProm{
    padding: 5% 5% 0% 5%;
    text-align: left;
}
#firstLine{
    font-size: 1.1rem;
    min-height: fit-content;
    min-height: -moz-fit-content;
    margin-bottom: 0%;
}

#secondtLine{
    font-size: 0.9rem;
    min-height: fit-content;
    min-height: -moz-fit-content;
    margin-top: 0%;
}

#binProm{
    margin-right: 3%;
}
