.boxProm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    color: white;
    border-radius: 10px;
    background-color: white
}
.barraTitolo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height: 30%;
    min-width: 100%;
    background-color: #94092e;
    border-radius: 10px 10px 0px 0px;
    border-color: #94092e;
}
.tdoProm{
    
    font-weight: bold;
    
}

.descrizioneProm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    min-height: border-box;

}

.paragDescProm{
    padding: 5%;
    font-size: 1rem;
    text-align: left;
}