.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    gap: 6%;

  }

  .leftContainer {
    width: 25%;
    min-width: 17rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-left: 2rem;
    min-height: 100%;
    gap: 4rem;
  }

  .centerContainer {
    width: 50%;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .divButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }

  .rightContainer {
    width: 25%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-right: 2rem;
    align-items: center;
  }

  #map{
    min-height: 35vh;
  }

  @media screen and (max-width: 1280px){
    .mainContainer{
      display: grid;
      grid-template-columns: 1fr;
      overflow-y: hidden;
      overflow-x: hidden;
      height: 100%;
      justify-items: center;
      grid-gap: 0%;
      margin-bottom: 10vh;
    }

    .centerContainer{
      grid-row: 2;
      min-width: 20rem;
      padding: 0%;
      padding-bottom: 10%;
      padding-top: 3%;
      border-bottom: 1px solid;
      border-color: #fff;
    }

    .leftContainer{
      grid-row: 3;
      display: flex;
      flex-direction: column;
      padding: 0rem;
      padding-top: 11%;
      min-width: 20rem;
      gap: 3rem;
    }

    #map {
      min-width: 100%;
      min-height: 50vh;
    }

    .rightContainer{
      grid-row: 1;
      padding: 0%;
      border-bottom: 1px solid;
      border-color: #fff;
      padding-bottom: 7%;
      width:fit-content;
    }

    .hide-scrollbar{
      overflow: hidden;
    }

  }

  @media screen and (min-width: 1921px) {
    .centerContainer {
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
    }

    .rightContainer{
      min-width: min-content;
    }

    .leftContainer{
      min-width: min-content;
      max-width: 80%;
    }
    
  }

