#nomeLuogo {
    margin: 0 0.5rem 0 0.5rem;       
    text-align: start;
}
#via {
    font-size: 0.8rem;
    margin: 0 0.5rem 1.2rem 0.5rem;
    color: rgb(158 158 158);
    text-align: start;
}

.titoloPreferitiWidget{
    margin: 2rem 0 1.7rem 0rem;
}

.tabellaPreferitiWidget{
    margin-left: 0.4rem;
}

.select:hover{
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

.dropdown{
    background-color: whitesmoke;
    color: #000;
    font-size: 0.90rem;
    transition: all 0.5s ease;
    cursor: pointer;
}