#nomeLuogo {
    margin: 0 0 0 0.5rem;       
    text-align: start;
}
#via {
    font-size: 0.8rem;
    margin: 0 0 1.2rem 0.5rem;
    color: rgb(158 158 158);
    text-align: start;
}

.titoloPreferitiWidget{
    margin: 2rem 0 1.7rem 0rem;
}

.tabellaPreferitiWidget{
    margin-left: 0.4rem
}