body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}


#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f32d;
  border-top: 6px solid white;
  border-radius: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  animation: spin 1s infinite linear;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}







/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .promemoriaListaAnimali {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  .promemoriaListaAnimali::-webkit-scrollbar {
    width: 40px;
  }

  .promemoriaListaAnimali::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 40px;
  }

  .promemoriaListaAnimali::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 36px;
    width: 2px;
    border: 19px solid #ffffff;
  }